/*CSS RESET*/
/* css reset mtlb boundary ko margin dedi default font de diya */

*{
    margin: 0;
    padding: 0;
}

/* CSS variables */

:root{
    --navbar-height:59px;
}

html{
    scroll-behavior: smooth;
}
/*Navigation Bar*/

#navbar{
    display: flex;
    align-items:center;
    position:relative;
    top: 0px;
}
#navbar ul{
    /*  to display as lines */
    display:flex;    
}
#navbar::before{
    content:"";
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0px;
    left:0px;
    position:absolute;
    z-index: -1;
    opacity: 0.4;
}
/* navigation bar:logo and image */
/* navigation bar:list styling */
#logo{
    margin:10px 34px;
}
#logo img{
    height: 49px;
    margin: 3px 5px;
}
#navbar ul li{
    /* used to remove circles comes in left of the words */
    list-style: none;

    /* to give font style */
    font-style: italic;
}
#navbar ul li a{

    color: black;
    display: block;
    /* to give some spaces between words */
    padding-right: 20px;
    /* to give curve  */
    border-radius: 20px;

    /* used to remove underline which comes below of the words */
    text-decoration: none;
}
#navbar ul li a:hover{
    color:pink;
    background-color:whitesmoke;
}


/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    align-items: center;
    justify-content: center;
    height: 600px;
}

/* read before pseudo selectors */

#home::before{
    content: "";
    position: absolute;
    height: 700px;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
    top:0px;
    left:0px;
    background: url('../images/bg.jpg') no-repeat center center/cover;
}

#home h1{
    color: brown;
    text-align: center;
}

#home p{
    color: black;
    text-align: center;
    font-size: medium;
    font-style: oblique
}
#services{
    margin:34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    height: 200px;
    margin: auto;
    display: block;
}
/* utiltiy classes */
.h-primary{
    font-size: xx-large;
    padding: 12px;
}
/* Services Section */

.h-secondary{
    /* font-size: large; */
    padding: 12px;
}


.btn{
    padding: 6px 20px;
    border:2px white;
    background-color: brown;
    color:white;
    margin: 17px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}

