form{
    border:0.5px solid lightgrey;
    height:415px;
    width: 340px;
    background-color: white;
    position: absolute;
    top:30px;
    left: 580px;
}

.image{
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png");
    height:65px;
    width: 180px;
    background-size: cover;
    position: absolute;
    top:30px;
    left:80px;
}

input[type=text]{
    height:35px;
    width:280px;
    border:1px solid lightgray;
    border-radius: 2px;
    background-color: whitesmoke;
    position: absolute;
    top:130px;
    left:30px;
}

input[type=password]{
    height:35px;
    width:280px;
    border:1px solid lightgray;
    background-color: whitesmoke;
    position: absolute;
    top:175px;
    left:30px;
}
.innerbox2{
    height:30px;
    width:280px;
    border-radius: 4px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    background-color: rgb(187, 223, 245);
    position: absolute;
    top:230px;
    left:30px;
    color: white;
    cursor: pointer;
    border: none;
}

.line{
    height:1.5px;
    width:100px;
    background-color: rgb(232, 229, 229);
}
#l1{
    position: absolute;
    bottom:130px;
    left:30px;
}
#l2{
    position: absolute;
    bottom:130px;
    left:205px;
}
.or{
    font-size: small;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color:rgb(143, 142, 142);
    position: absolute;
    bottom:123px;
    left:160px;
}
.fblogo{
    background-size: cover;
    position: absolute;
    bottom:73px;
    left:87px;
    cursor: pointer;
}
.fblogo img{
    height:15px;
    width:15px;
}
.facebook{
    text-decoration: none;
    color:darkblue;
    font-size: medium;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    position:absolute;
    bottom:75px;
    left:110px;
}
.facebook a{
    text-decoration: none;
    color:darkblue;
}
.password{
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: small;
    color:black;
    position: absolute;
    left:120px;
    bottom: 30px;
}
.password a{
    text-decoration: none;
    color:darkblue;
}
.box2{
    border:0.5px solid lightgrey;
    height:60px;
    width:340px;
    background-color: white;
    position: absolute;
    top:425px;
    left:0px;
}
.box2text{
    font-size: medium;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color:black;
    position: absolute;
    top:18px;
    left:60px;
}
span a{
    text-decoration: none;
    color: blue;
}
.app{
    height:30px;
    width:100px;
    position: absolute;
    left:710px;
    bottom:190px;
    color:black;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.lastsecondline{
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color:grey;
    font-size: small;
    position: absolute;
    bottom:70px;
    left:350px;
}
.lastsecondline a{
    text-decoration: none;
    color:grey;
}
.lastline{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color:grey;
    font-size: small;
    position: absolute;
    bottom:40px;
    left:650px;
}
.lastline a{
    text-decoration: none;
    color:grey;
}
.twoimage{
    float: left;
    height:50px;
    width:300px;
    position:absolute;
    bottom:130px;
    left:600px;
}
.img1
{
    position: absolute;
    left:5px;
}
.img2
{  
    position: absolute;
    right:5px;
}
.img1 img{
    background-size: cover;
    height:40px;
    width:140px;
}
.img2 img{
    background-size: cover;
    height:40px;
    width:140px;
}