
.left{
    position: absolute;
    top:18px;
    left: 36px; 
    display: inline-block;
    border: 2px solid red;
}

.mid{
   display: block;
   width:33%;
   margin: 18px auto;
    border: 2px solid red;
}

.right{
    position: absolute;
    top:18px;
    right: 36px;
    display: inline-block;
    border: 2px solid red;
}

.navbar{
    display: inline-block;
}

.navbar li{
    display: inline-block;
}
.navbar li a{
    color: azure;
    text-decoration: none;
}